{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.forum.admin.edit.layout_template %}

{%- block title -%}
	{{- 'title.admin.manage-forums.edit' |trans({'%forum_name%': forum.name}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}

	<section class="clearfix">
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
		{{ form_start(form, {novalidate: true, action: path('jmdmc_forum_admin_forum_edit_process', {'forumId': forum.id}) }) }}
	        <fieldset>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<h4>
							{{- 'title.admin.manage-forums.edit' |trans({'%forum_name%': forum.name}, 'JMDMCForumBundle') -}}
						</h4>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_rest(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
		                <input type="submit" class="btn btn-primary" value="
							{{- 'form.button.save-changes' |trans({}, 'JMDMCForumBundle') -}}
						" name="submit[post]" id="submit[post]">

		                <a class="btn btn-default" href="{{- path('jmdmc_forum_admin_forum_list') -}}">
							{{- 'form.button.cancel' |trans({}, 'JMDMCForumBundle') -}}
						</a>
					</div>
	            </div>

	        </fieldset>
	    </form>
	</section>

    {%- endspaceless -%}
{%- endblock body_content -%}
