{% extends ':UserProfile:profile_layout.html.twig' %}

{% block profile_content %}
    <div class="row text-right">
        <a href="{{ path('dialog_new') }}" class="btn btn-primary">{{ 'dialog.new'|trans({},'dialog') }}</a>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr style="background: #6bbbd1; font-size: 12px;">
                <th></th>
                <th width="60%">{{ 'dialog.list.title'|trans({},'dialog') }}</th>
                <th>{{ 'dialog.list.answers'|trans({},'dialog') }}</th>
                <th>{{ 'dialog.list.last_message'|trans({},'dialog') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if dialogs|length == 0 %}
                <tr>
                    <td colspan="5" class="text-center">{{ 'dialog.empty'|trans({},'dialog') }}</td>
                </tr>
            {% endif %}
            {% for dialog in dialogs %}
                <tr style="font-size: 12px;">
                    <td>
                        {% if dialog.creator.avatar is not null %}
                            <img src="{{ asset(dialog.creator.avatar.path) }}" alt="{{ dialog.creator.username }}"
                                 style="height: 32px; width: 32px;"/>
                        {% else %}
                            <img src="{{ asset('img/default_ava.jpg') }}" alt="{{ dialog.creator.username }}"
                                 style="height: 32px; width: 32px;"/>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('dialog_view', { 'id': dialog.id }) }}">{{ dialog.theme }}</a>
                        <br>
                        <small>
                            {% for user in dialog.users %}
                            {{ user.username }}
                                {{ loop.index != dialog.users|length ? ', ' }}
                            {% endfor %}
                        <br>
                        {{ dialog.createdAt|ago }}
                        </small>
                    </td>
                    <td>
                        <dl>
                            <dt>{{ 'dialog.list.answers'|trans({},'dialog') }}:</dt>
                            <dd>{{ (dialog.messages|length)-1 }}</dd>
                        </dl>
                        <dl>
                            <dt>{{ 'dialog.list.users'|trans({},'dialog') }}:</dt>
                            <dd>{{ dialog.users|length }}</dd>
                        </dl>
                    </td>
                    <td>{{ (dialog.messages|last).user.username }}<br>
                    <small>{{ (dialog.messages|last).createdAt|ago }}</small>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock profile_content %}

{% block head_style %}
    {{ parent() }}
    <style>
        table {
            margin-top: 10px;
        }

        table td {
            vertical-align: middle !important;
        }

        dl {
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0
        }

        dt {
            float: left;
            padding: 0;
            margin: 0
        }

        dd {
            float: right;
            padding: 0;
            margin: 0
        }
    </style>
{% endblock head_style %}

