{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.board.admin.list.layout_template %}

{%- block title -%}
	{{- 'title.admin.manage-boards.index' |trans({}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
	{%- spaceless -%}

		<section class="row btn-toolbar clearfix">
			<a class="btn btn-primary" href="{{- path('jmdmc_forum_admin_board_create', {'forum_filter': forum_filter, 'category_filter': category_filter}) -}}">
				{{- 'link.board.create' |trans({}, 'JMDMCForumBundle') -}}
			</a>
		</section>

		<section class="col-md-12 row clearfix">
			<div class="col-md-4 row">
				<div class="col-md-6 row">
					<div class="panel panel-default">
						<div class="panel-heading">
							{{- 'filter.forums' |trans({}, 'JMDMCForumBundle') -}}
						</div>
						<div class="list-group">
							<a href="{{- path('jmdmc_forum_admin_board_list') -}}"
							 class="list-group-item ellipsis {%- if forum_filter is null or forum_filter == '' %} active {%- endif -%}">
								<i class="glyphicon glyphicon-exclamation-sign"></i>
								{{- 'link.unassigned' |trans({}, 'JMDMCForumBundle') -}}
							</a>
							{%- for forum in forums -%}
								<a href="{{- path('jmdmc_forum_admin_board_list', {'forum_filter': forum.id}) -}}" title="{{- forum.name -}}"
								 class="list-group-item ellipsis {%- if forum_filter == forum.id %} active {%- endif -%}">
									<span class="label pull-right">
										{{- forum.getCategories | length -}}
									</span>
									{{- forum.name -}}
								</a>
							{%- endfor -%}
						</div>
					</div>
				</div>
				<div class="col-md-6 row">
					<div class="panel panel-default">
						<div class="panel-heading">
							{{- 'filter.categories' |trans({}, 'JMDMCForumBundle') -}}
						</div>
						<div class="list-group">
							<a href="{{- path('jmdmc_forum_admin_board_list', {'forum_filter': forum_filter}) -}}"
							 class="list-group-item ellipsis {%- if category_filter is null or category_filter == '' %} active {%- endif -%}">
								<i class="glyphicon glyphicon-exclamation-sign"></i>
								{{- 'link.unassigned' |trans({}, 'JMDMCForumBundle') -}}
							</a>
							{%- for category in categories -%}
								<a href="
									{%- if category.forum -%}
										{{- path('jmdmc_forum_admin_board_list', {'forum_filter': category.forum.id, 'category_filter': category.id}) -}}
									{%- else -%}
										{{- path('jmdmc_forum_admin_board_list', {'category_filter': category.id}) -}}
									{%- endif -%}
								 " title="{{- category.name -}}" class="list-group-item ellipsis {%- if category_filter == category.id %} active {%- endif -%}">
									<span class="label pull-right">
										{{- category.getBoards | length -}}
									</span>
									{{- category.name -}}
								</a>
							{%- endfor -%}
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-8 row">
				<table class="table table-bordered" id="admin-boards-list">
					<thead>
						<tr>
							<th>{{- 'board.id-th' |trans({}, 'JMDMCForumBundle') -}}</th>
							<th>{{- 'board.name-th' |trans({}, 'JMDMCForumBundle') -}}</th>
							<th>{{- 'board.topic-count-th' |trans({}, 'JMDMCForumBundle') -}}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{%- for board_index, board in boards -%}
							<tr>
								<td>{{- board.id -}}</td>
								<td>{{- board.name -}}</td>
								<td>{{- board.topics |length -}}</td>
								<td>
									<a class="btn btn-default" href="{{- path('jmdmc_forum_admin_board_edit', {'boardId': board.id, 'forum_filter': forum_filter, 'category_filter': category_filter}) -}}"
									 id="update_board[{{- board.name -}}]">
										{{- 'link.edit' |trans({}, 'JMDMCForumBundle') -}}
									</a>

									{%- if is_granted('ROLE_SUPER_ADMIN') -%}
										<a class="btn btn-danger" href="{{- path('jmdmc_forum_admin_board_delete', {'boardId': board.id, 'forum_filter': forum_filter, 'category_filter': category_filter}) -}}"
										 id="delete_board[{{- board.name -}}]">
											{{- 'link.delete' |trans({}, 'JMDMCForumBundle') -}}
										</a>
									{%- endif -%}

									{%- if category_filter is not null and category_filter != '' %}
										{% if loop.length > 1 %}
											<div class="btn-group">
												<a class="btn btn-default" href="{{- path('jmdmc_forum_admin_board_reorder_up', {'boardId': board.id, 'forum_filter': forum_filter, 'category_filter': category_filter}) -}}"
												 id="reorder_up_board[{{- board.name -}}]">
													{%- if loop.first -%}
														<i class="glyphicon glyphicon-retweet"></i>
													{%- else -%}
														<i class="glyphicon glyphicon-chevron-up"></i>
													{%- endif -%}
												</a>

												<a class="btn btn-default" href="{{- path('jmdmc_forum_admin_board_reorder_down', {'boardId': board.id, 'forum_filter': forum_filter, 'category_filter': category_filter}) -}}"
												 id="reorder_down_board[{{- board.name -}}]">
													{%- if loop.last -%}
														<i class="glyphicon glyphicon-retweet"></i>
													{%- else -%}
														<i class="glyphicon glyphicon-chevron-down"></i>
													{%- endif -%}
												</a>
											</div>
										{%- endif -%}
									{%- endif -%}
								</td>
							</tr>
						{%- endfor -%}
					</tbody>
				</table>
			</div>
		</section>

	{%- endspaceless -%}
{%- endblock body_content -%}
