{% macro icon(name, inverted) %}
<span class="fa fa-{{ name }}"{{ inverted ? ' fa-inverse' : '' }}></span>
{% endmacro %}

{% block fontawesome -%}
<i class="icon-{{ icon }}{{ inverted ? ' inverted' : '' }}"></i>
{%- endblock %}

{% block fontawesome4 -%}
    <i class="fa fa-{{ icon }}{{ inverted ? ' fa-inverse' : '' }}"></i>
{%- endblock %}

{% block glyphicons -%}
<span class="glyphicon glyphicon-{{ icon }}"{% if inverted|default(false) %} style="color: white;"{% endif %}></span>
{%- endblock %}
