{% extends ':Layout:_base.html.twig' %}

{% block content %}
    {% block tool_bar %}{% endblock %}
    <div class="row">
        {% block content_content %}
        {% endblock content_content %}
    </div>
{% endblock content %}

{% block content_sidebar %}
    {%- block sidebar -%}
    {%- endblock sidebar -%}
{% endblock content_sidebar %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'plugins/wysibb/theme/default/wbbtheme.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}


{% block foot_script %}
    {{ parent() }}
    {% javascripts
    'plugins/wysibb/*.min.js'
    'plugins/wysibb/lang/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            var wbbOpt = {
                lang: "ru",
                traceTextarea: true
            };
            $("textarea").each(function () {
                $(this).wysibb(wbbOpt);
            });
            $('[type=submit]').each(function () {
                $(this).click(function () {
                    $("textarea").each(function () {
                        $(this).sync();
                    });
                });
            });
        });
    </script>
{% endblock foot_script %}