{% extends ':Layout:_base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <form method="post">
    {{ form_row(form.title) }}
    {{ form_row(form.tags) }}
    {{ form_row(form.shortContent) }}
    {{ form_row(form.fullContent) }}
    {{ form_widget(form._token) }}
    <div class="form-group text-right">
        <button class="btn btn-primary" type="submit">{{ 'news.form.submit'|trans({}, 'news') }}</button>
    </div>
    </form>
{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'plugins/wysibb/theme/default/wbbtheme.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}


{% block foot_script %}
    {{ parent() }}
    {% javascripts
    'plugins/wysibb/*.min.js'
    'plugins/wysibb/lang/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            var wbbOpt = {
                lang: "ru",
                traceTextarea: true
            };
            $("textarea").each(function () {
                $(this).wysibb(wbbOpt);
            });
            $('[type=submit]').click(function () {
                $("textarea").each(function () {
                    $(this).sync();
                });
            });
        });
    </script>
{% endblock foot_script %}