{% extends 'JMDMCForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = jmdmc_forum.category.user.show.layout_template %}

{%- block title -%}
	{{- 'title.category.show' | trans({'%category_name%': categories[0].name}, 'JMDMCForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'JMDMCForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block content_content -%}
	{%- spaceless -%}

	{%- for category in categories -%}
		{%- include "JMDMCForumBundle:User:Category/Partial/item_category.html.twig" -%}
	{%- else -%}
		<section class="row clearfix">
			<div class="well text-center">
				<span class="lead">
					{{- 'category.none' | trans({}, 'JMDMCForumBundle') -}}
				</span>
			</div>
		</section>
	{%- endfor -%}

	{%- endspaceless -%}
{%- endblock content_content -%}
