{%- spaceless -%}
	<section class="row clearfix">
		{%- if topic.isDeleted or topic.isClosed %}
	        <div class="alert alert-danger">
			    {%- if topic.isDeleted -%}
		            <i class="glyphicon glyphicon-trash"></i>&nbsp;

		            <b>{{- 'topic.deleted-by' | trans({}, 'JMDMCForumBundle') |raw -}} {{- topic.getDeletedBy -}}</b>&nbsp;
		            <small>({{- topic.getDeletedDate|date(jmdmc_forum.topic.user.show.deleted_datetime_format) -}})</small>
			    {%- endif -%}

			    {%- if topic.isClosed -%}
					{%- if topic.isDeleted -%}<br>{%- endif -%}
		            <i class="glyphicon glyphicon-lock"></i>&nbsp;

		            <b>{{- 'topic.closed-by' | trans({}, 'JMDMCForumBundle') |raw -}} {{- topic.getClosedBy -}}</b>&nbsp;
					<small>({{- topic.getClosedDate |date(jmdmc_forum.topic.user.show.closed_datetime_format) -}})</small>
			    {%- endif -%}
	        </div>
		{%- endif -%}

	    {%- if topic.isSticky -%}
	        <div class="alert alert-info">
		        <i class="glyphicon glyphicon-bullhorn"></i>&nbsp;

	            <b>{{- 'topic.stickied-by' | trans({}, 'JMDMCForumBundle') |raw -}} {{- topic.stickiedBy -}}</b>&nbsp;
				<small>({{- topic.getStickiedDate |date(jmdmc_forum.topic.user.show.deleted_datetime_format) -}})</small>
	        </div>
	    {%- endif -%}
	</section>
{%- endspaceless -%}
